<div style="margin: 0 0 20px 0; padding: 20px; background: #e4e4e4; border-bottom: 2px solid #999;" class="newsletter-signup">
  <h2>Weekly Updates</h2>
  <p>If you'd like to be notified of updates and get weekly side project marketing tips delivered to your inbox, sign up for the newsletter:</p>

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{ clear:left; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; width:100%;}
    #mc_embed_signup_scroll input.email, #mc_embed_signup_scroll input.button {height: 48px;}
    .button#mc-embedded-subscribe {background: #1d508f;}
  </style>
  <div id="mc_embed_signup">
    <form action="//karllhughes.us15.list-manage.com/subscribe/post?u=4eba8b205fc13380cd3e6f3fc&amp;id=cc13b917ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4eba8b205fc13380cd3e6f3fc_cc13b917ec" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
