---
layout: default
---
<div class="home">

  <h1 class="page-heading">Archive of {{ page.type }} '{{ page.title | escape }}'</h1>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in page.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories %} • {% include category_links.html categories=post.categories %}{% endif %}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
