---
layout: default
---
{% include signup_1.html %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% include github_cta.html %}

  <div class="post-content">
    {{ content }}
  </div>

  {% if site.comments != false and page.comments != false %}
  <div class="post-comments">
    {% include custom_comments_provider.html %}
  </div>
  {% endif %}

</article>

{% include signup_1.html %}


<!-- 
  using javascript to prevent printing these elements lets us only target the elements on this page and not affect any other layout or include
 -->
<script>
  window.onload = function() {
    document.getElementsByClassName('site-header')[0].className += " no-print";
    document.getElementsByClassName('site-footer')[0].className += " no-print";
    newsletterSignupElements = document.getElementsByClassName('newsletter-signup');
    
    for (var i=0; i < newsletterSignupElements.length; i++) {
      newsletterSignupElements[i].className += " no-print";
    }
  };
</script>