---
layout: default
---

<div class="home">

  {{ content }}

  <p><a href="/marketing-checklist"><img src="https://i.imgur.com/uZJHDXL.jpg" alt=""></a></p>

  {% include github_cta.html %}

  <h1>Why?</h1>
  <p>
    I've been building little software side projects for years, but <a href="{% post_url 2017-08-05-why %}">I've always been terrible at marketing them</a>. I come up with some ideas, forget those ideas, do some random stuff, then lose interest. The goal of this project is to fix that by making marketing as simple as a checklist.
  </p>

  <p style="text-align: center;">
    <a href="/marketing-checklist" class="btn btn-large">View In Browser</a>
    <a href="https://raw.githubusercontent.com/karllhughes/side-project-marketing/master/marketing-checklist.md" download="marketing-checklist.md" class="btn btn-large" style="background: #999;">Download Markdown</a>
  </p>

  <p>Not sure how to use this checklist? <a href="{% post_url 2017-08-05-how-to-use %}">Click here to learn more</a>.</p>

  <h1>Contributing</h1>
  <p>This project is free and open source, so contributions are welcome! If you have an idea for improving the project, please see the <a href="/contributing">Contributing page</a>.</p>

  {% include signup_1.html %}

  <h2>Latest Blog Posts</h2>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in paginator.posts %}
    {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
    {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories != empty %} • {% include category_links.html categories=post.categories %}{% endif %}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
      </h2>

      <div class="post-content">
        {{ post.excerpt }}
      </div>
      {% if post.content contains site.excerpt_separator %}
      <p class="post-continue">
        <a href="{{ post.url | relative_url }}">Read on &rarr;</a>
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p><a href="/blog/">See All Blog Posts</a></p>

</div>
